<html>
    <head>
        <h1>Yuh Yuh Yuh It finally worked</h1>
    </head>
    <body>
        <pre>
          __  __    ___    _____    ___    ____    ____       _      _       _
         |  \/  |  / _ \  |_   _|  / _ \  |  _ \  | __ )     / \    | |     | |
         | |\/| | | | | |   | |   | | | | | |_) | |  _ \    / _ \   | |     | |
         | |  | | | |_| |   | |   | |_| | |  _ <  | |_) |  / ___ \  | |___  | |___
         |_|  |_|  \___/    |_|    \___/  |_| \_\ |____/  /_/   \_\ |_____| |_____
        </pre>
        <p> Oi Bruv 3head im in app/views/motorball/index.html.erb </p>
    </body>
</html>
